.elementor-kit-9 {
  --e-global-color-primary: #4287f5;
  --e-global-color-secondary: #FFFFFF;
  --e-global-color-text: #FFFFFFC2;
  --e-global-color-accent: #15171E;
  --e-global-color-f491614: #FFFFFF00;
  --e-global-color-152652f: #FFFFFF45;
  --e-global-color-41e718d: #020205;
  --e-global-color-cc7bf96: #FFFFFF94;
  --e-global-color-2fd7526: #020205B8;
  --e-global-typography-primary-font-family: "Be Vietnam Pro";
  --e-global-typography-primary-font-size: 56px;
  --e-global-typography-primary-font-weight: 800;
  --e-global-typography-primary-line-height: 1.2em;
  --e-global-typography-secondary-font-family: "Be Vietnam Pro";
  --e-global-typography-secondary-font-size: 34px;
  --e-global-typography-secondary-font-weight: 800;
  --e-global-typography-secondary-line-height: 1.3em;
  --e-global-typography-text-font-family: "Be Vietnam Pro";
  --e-global-typography-text-font-size: 17px;
  --e-global-typography-text-font-weight: 400;
  --e-global-typography-text-line-height: 1.6em;
  --e-global-typography-accent-font-family: "Be Vietnam Pro";
  --e-global-typography-accent-font-size: 12px;
  --e-global-typography-accent-font-weight: 700;
  --e-global-typography-accent-text-transform: uppercase;
  --e-global-typography-accent-font-style: normal;
  --e-global-typography-accent-text-decoration: none;
  --e-global-typography-accent-line-height: 1.3em;
  --e-global-typography-accent-letter-spacing: 0.4px;
  --e-global-typography-62f5f26-font-size: 20px;
  --e-global-typography-62f5f26-font-weight: 700;
  --e-global-typography-62f5f26-line-height: 1.4em;
  --e-global-typography-01e3d1c-font-size: 17px;
  --e-global-typography-01e3d1c-font-weight: 700;
  --e-global-typography-01e3d1c-line-height: 1.4em;
  --e-global-typography-5e57db5-font-family: "Be Vietnam Pro";
  --e-global-typography-5e57db5-font-size: 14px;
  --e-global-typography-5e57db5-font-weight: 500;
  --e-global-typography-5e57db5-line-height: 1.5em;
  --e-global-typography-8a0691a-font-family: "Be Vietnam Pro";
  --e-global-typography-8a0691a-font-size: 12px;
  --e-global-typography-8a0691a-font-weight: 500;
  --e-global-typography-8a0691a-line-height: 1.5em;
  --e-global-typography-2d4f93f-font-family: "Be Vietnam Pro";
  --e-global-typography-2d4f93f-font-size: 16px;
  --e-global-typography-2d4f93f-font-weight: 400;
  --e-global-typography-2d4f93f-line-height: 1.5em;
  --e-global-typography-499599d-font-family: "Be Vietnam Pro";
  --e-global-typography-499599d-font-size: 13px;
  --e-global-typography-499599d-font-weight: 400;
  --e-global-typography-499599d-text-transform: none;
  --e-global-typography-499599d-line-height: 1.4em;
  --e-global-typography-04b8e21-font-family: "Be Vietnam Pro";
  --e-global-typography-04b8e21-font-size: 13px;
  --e-global-typography-04b8e21-font-weight: 600;
  --e-global-typography-04b8e21-text-transform: uppercase;
  --e-global-typography-04b8e21-font-style: normal;
  --e-global-typography-04b8e21-text-decoration: none;
  --e-global-typography-005f9ca-font-family: "Be Vietnam Pro";
  --e-global-typography-005f9ca-font-size: 12px;
  --e-global-typography-005f9ca-font-weight: 500;
  --e-global-typography-005f9ca-text-transform: uppercase;
  --e-global-typography-005f9ca-font-style: normal;
  --e-global-typography-005f9ca-text-decoration: none;
  --e-global-typography-315709c-font-family: "Be Vietnam Pro";
  --e-global-typography-315709c-font-size: 13px;
  --e-global-typography-315709c-font-weight: 800;
  --e-global-typography-315709c-text-transform: uppercase;
  --e-global-typography-315709c-font-style: normal;
  --e-global-typography-315709c-text-decoration: none;
  --e-global-typography-315709c-line-height: 1em;
  --e-global-typography-315709c-letter-spacing: 0.4px;
  --e-global-typography-d2be5a1-font-family: "Be Vietnam Pro";
  --e-global-typography-d2be5a1-font-size: 15px;
  --e-global-typography-d2be5a1-font-weight: 800;
  --e-global-typography-d2be5a1-text-transform: uppercase;
  --e-global-typography-d2be5a1-font-style: normal;
  --e-global-typography-d2be5a1-text-decoration: none;
  --e-global-typography-d2be5a1-line-height: 1em;
  --e-global-typography-d2be5a1-letter-spacing: 0.6px;
  --e-global-typography-b62a13d-font-family: "Be Vietnam Pro";
  --e-global-typography-b62a13d-font-size: 17px;
  --e-global-typography-b62a13d-font-weight: 400;
  --e-global-typography-b62a13d-font-style: normal;
  --e-global-typography-b62a13d-text-decoration: none;
  --e-global-typography-b62a13d-line-height: 1.6em;
  --e-global-typography-0354145-font-family: "Be Vietnam Pro";
  --e-global-typography-0354145-font-size: 52px;
  --e-global-typography-0354145-font-weight: 800;
  --e-global-typography-0354145-text-transform: uppercase;
  --e-global-typography-0354145-line-height: 1.2em;
  /* color: #666; */
  font-family: var( --e-global-typography-text-font-family), Sans-serif;
  font-size: var( --e-global-typography-text-font-size);
  font-weight: var( --e-global-typography-text-font-weight);
  line-height: var( --e-global-typography-text-line-height);
  background-color: var( --e-global-color-41e718d);
}

.elementor-kit-9 p {
  margin-bottom: 1.5em;
}

.elementor-kit-9 a {
  color: var( --e-global-color-secondary);
}

.elementor-kit-9 a:hover {
  color: #4287f5;
}

.elementor-kit-9 h1 {
  color: var( --e-global-color-secondary);
  font-family: var( --e-global-typography-primary-font-family), Sans-serif;
  font-size: var( --e-global-typography-primary-font-size);
  font-weight: var( --e-global-typography-primary-font-weight);
  line-height: var( --e-global-typography-primary-line-height);
}

.elementor-kit-9 h2 {
  color: var( --e-global-color-secondary);
  font-family: var( --e-global-typography-secondary-font-family), Sans-serif;
  font-size: var( --e-global-typography-secondary-font-size);
  font-weight: var( --e-global-typography-secondary-font-weight);
  line-height: var( --e-global-typography-secondary-line-height);
}

.elementor-kit-9 h3 {
  color: var( --e-global-color-secondary);
  font-size: var( --e-global-typography-62f5f26-font-size);
  font-weight: var( --e-global-typography-62f5f26-font-weight);
  line-height: var( --e-global-typography-62f5f26-line-height);
  letter-spacing: var( --e-global-typography-62f5f26-letter-spacing);
  word-spacing: var( --e-global-typography-62f5f26-word-spacing);
}

.elementor-kit-9 h4 {
  color: var( --e-global-color-secondary);
  font-size: var( --e-global-typography-01e3d1c-font-size);
  font-weight: var( --e-global-typography-01e3d1c-font-weight);
  line-height: var( --e-global-typography-01e3d1c-line-height);
  letter-spacing: var( --e-global-typography-01e3d1c-letter-spacing);
  word-spacing: var( --e-global-typography-01e3d1c-word-spacing);
}

.elementor-kit-9 h5 {
  color: var( --e-global-color-secondary);
  font-family: var( --e-global-typography-5e57db5-font-family), Sans-serif;
  font-size: var( --e-global-typography-5e57db5-font-size);
  font-weight: var( --e-global-typography-5e57db5-font-weight);
  line-height: var( --e-global-typography-5e57db5-line-height);
  letter-spacing: var( --e-global-typography-5e57db5-letter-spacing);
  word-spacing: var( --e-global-typography-5e57db5-word-spacing);
}

.elementor-kit-9 h6 {
  color: var( --e-global-color-secondary);
  font-family: var( --e-global-typography-8a0691a-font-family), Sans-serif;
  font-size: var( --e-global-typography-8a0691a-font-size);
  font-weight: var( --e-global-typography-8a0691a-font-weight);
  line-height: var( --e-global-typography-8a0691a-line-height);
  letter-spacing: var( --e-global-typography-8a0691a-letter-spacing);
  word-spacing: var( --e-global-typography-8a0691a-word-spacing);
}

/* .elementor-kit-9 button,
.elementor-kit-9 input[type="button"],
.elementor-kit-9 input[type="submit"],
.elementor-kit-9 .elementor-button {
  font-family: var( --e-global-typography-accent-font-family), Sans-serif;
  font-size: var( --e-global-typography-accent-font-size);
  font-weight: var( --e-global-typography-accent-font-weight);
  text-transform: var( --e-global-typography-accent-text-transform);
  font-style: var( --e-global-typography-accent-font-style);
  text-decoration: var( --e-global-typography-accent-text-decoration);
  line-height: var( --e-global-typography-accent-line-height);
  letter-spacing: var( --e-global-typography-accent-letter-spacing);
  color: var( --e-global-color-secondary);
  /* background-color: var( --e-global-color-f491614); */
  /* border-style: solid; */
  /* border-width: 0px 0px 2px 0px; */
  /* border-color: var( --e-global-color-primary); */
  /* border-radius: 0px 0px 0px 0px;
  padding: 0px 2px 8px 0px; */
/* }  */

/* .elementor-kit-9 button:hover,
.elementor-kit-9 button:focus,
.elementor-kit-9 input[type="button"]:hover,
.elementor-kit-9 input[type="button"]:focus,
.elementor-kit-9 input[type="submit"]:hover,
.elementor-kit-9 input[type="submit"]:focus,
.elementor-kit-9 .elementor-button:hover,
.elementor-kit-9 .elementor-button:focus {
  color: var( --e-global-color-text);
  background-color: var( --e-global-color-f491614);
} */

.elementor-kit-9 img {
  border-radius: 0px 0px 0px 0px;
}

.elementor-kit-9 label {
  color: var( --e-global-color-text);
  font-family: var( --e-global-typography-accent-font-family), Sans-serif;
  font-size: var( --e-global-typography-accent-font-size);
  font-weight: var( --e-global-typography-accent-font-weight);
  text-transform: var( --e-global-typography-accent-text-transform);
  font-style: var( --e-global-typography-accent-font-style);
  text-decoration: var( --e-global-typography-accent-text-decoration);
  line-height: var( --e-global-typography-accent-line-height);
  letter-spacing: var( --e-global-typography-accent-letter-spacing);
}

.elementor-kit-9 input:not([type="button"]):not([type="submit"]),
.elementor-kit-9 textarea,
.elementor-kit-9 .elementor-field-textual {
  font-family: var( --e-global-typography-text-font-family), Sans-serif;
  font-size: var( --e-global-typography-text-font-size);
  font-weight: var( --e-global-typography-text-font-weight);
  line-height: var( --e-global-typography-text-line-height);
  color: var( --e-global-color-text);
  accent-color: var( --e-global-color-primary);
  background-color: var( --e-global-color-accent);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var( --e-global-color-152652f);
  border-radius: 0px 0px 0px 0px;
  transition: 4ms;
}

.elementor-kit-9 input:focus:not([type="button"]):not([type="submit"]),
.elementor-kit-9 textarea:focus,
.elementor-kit-9 .elementor-field-textual:focus {
  color: var( --e-global-color-text);
  accent-color: var( --e-global-color-primary);
  background-color: var( --e-global-color-accent);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var( --e-global-color-152652f);
  border-radius: 0px 0px 0px 0px;
}

.elementor-section.elementor-section-boxed>.elementor-container {
  max-width: 1280px;
}

.e-con {
  --container-max-width: 1280px;
}

.elementor-widget:not(:last-child) {
  margin-block-end: 20px;
}

.elementor-element {
  --widgets-spacing: 20px 20px;
}

h1.entry-title {
  display: var(--page-title-display);
}

.elementor-lightbox {
  background-color: var( --e-global-color-41e718d);
  --lightbox-ui-color: var( --e-global-color-cc7bf96);
  --lightbox-ui-color-hover: var( --e-global-color-primary);
  --lightbox-text-color: var( --e-global-color-text);
}

.elementor-kit-9 e-page-transition {
  background-color: #FFBC7D;
}

.site-header .site-branding {
  flex-direction: column;
  align-items: stretch;
}

.site-header {
  padding-inline-end: 0px;
  padding-inline-start: 0px;
}

.site-footer .site-branding {
  flex-direction: column;
  align-items: stretch;
}

@media(max-width:1024px) {
  .elementor-kit-9 {
      --e-global-typography-primary-font-size: 46px;
      --e-global-typography-secondary-font-size: 30px;
      --e-global-typography-0354145-font-size: 46px;
      font-size: var( --e-global-typography-text-font-size);
      line-height: var( --e-global-typography-text-line-height);
  }
  .elementor-kit-9 h1 {
      font-size: var( --e-global-typography-primary-font-size);
      line-height: var( --e-global-typography-primary-line-height);
  }
  .elementor-kit-9 h2 {
      font-size: var( --e-global-typography-secondary-font-size);
      line-height: var( --e-global-typography-secondary-line-height);
  }
  .elementor-kit-9 h3 {
      font-size: var( --e-global-typography-62f5f26-font-size);
      line-height: var( --e-global-typography-62f5f26-line-height);
      letter-spacing: var( --e-global-typography-62f5f26-letter-spacing);
      word-spacing: var( --e-global-typography-62f5f26-word-spacing);
  }
  .elementor-kit-9 h4 {
      font-size: var( --e-global-typography-01e3d1c-font-size);
      line-height: var( --e-global-typography-01e3d1c-line-height);
      letter-spacing: var( --e-global-typography-01e3d1c-letter-spacing);
      word-spacing: var( --e-global-typography-01e3d1c-word-spacing);
  }
  .elementor-kit-9 h5 {
      font-size: var( --e-global-typography-5e57db5-font-size);
      line-height: var( --e-global-typography-5e57db5-line-height);
      letter-spacing: var( --e-global-typography-5e57db5-letter-spacing);
      word-spacing: var( --e-global-typography-5e57db5-word-spacing);
  }
  .elementor-kit-9 h6 {
      font-size: var( --e-global-typography-8a0691a-font-size);
      line-height: var( --e-global-typography-8a0691a-line-height);
      letter-spacing: var( --e-global-typography-8a0691a-letter-spacing);
      word-spacing: var( --e-global-typography-8a0691a-word-spacing);
  }
  .elementor-kit-9 button,
  .elementor-kit-9 input[type="button"],
  .elementor-kit-9 input[type="submit"],
  .elementor-kit-9 .elementor-button {
      font-size: var( --e-global-typography-accent-font-size);
      line-height: var( --e-global-typography-accent-line-height);
      letter-spacing: var( --e-global-typography-accent-letter-spacing);
  }
  .elementor-kit-9 label {
      font-size: var( --e-global-typography-accent-font-size);
      line-height: var( --e-global-typography-accent-line-height);
      letter-spacing: var( --e-global-typography-accent-letter-spacing);
  }
  .elementor-kit-9 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-9 textarea,
  .elementor-kit-9 .elementor-field-textual {
      font-size: var( --e-global-typography-text-font-size);
      line-height: var( --e-global-typography-text-line-height);
  }
  .elementor-section.elementor-section-boxed>.elementor-container {
      max-width: 1024px;
  }
  .e-con {
      --container-max-width: 1024px;
  }
}

@media(max-width:767px) {
  .elementor-kit-9 {
      --e-global-typography-primary-font-size: 36px;
      --e-global-typography-secondary-font-size: 26px;
      --e-global-typography-62f5f26-font-size: 18px;
      --e-global-typography-01e3d1c-font-size: 15px;
      --e-global-typography-5e57db5-font-size: 13px;
      --e-global-typography-8a0691a-font-size: 11px;
      --e-global-typography-0354145-font-size: 36px;
      font-size: var( --e-global-typography-text-font-size);
      line-height: var( --e-global-typography-text-line-height);
  }
  .elementor-kit-9 h1 {
      font-size: var( --e-global-typography-primary-font-size);
      line-height: var( --e-global-typography-primary-line-height);
  }
  .elementor-kit-9 h2 {
      font-size: var( --e-global-typography-secondary-font-size);
      line-height: var( --e-global-typography-secondary-line-height);
  }
  .elementor-kit-9 h3 {
      font-size: var( --e-global-typography-62f5f26-font-size);
      line-height: var( --e-global-typography-62f5f26-line-height);
      letter-spacing: var( --e-global-typography-62f5f26-letter-spacing);
      word-spacing: var( --e-global-typography-62f5f26-word-spacing);
  }
  .elementor-kit-9 h4 {
      font-size: var( --e-global-typography-01e3d1c-font-size);
      line-height: var( --e-global-typography-01e3d1c-line-height);
      letter-spacing: var( --e-global-typography-01e3d1c-letter-spacing);
      word-spacing: var( --e-global-typography-01e3d1c-word-spacing);
  }
  .elementor-kit-9 h5 {
      font-size: var( --e-global-typography-5e57db5-font-size);
      line-height: var( --e-global-typography-5e57db5-line-height);
      letter-spacing: var( --e-global-typography-5e57db5-letter-spacing);
      word-spacing: var( --e-global-typography-5e57db5-word-spacing);
  }
  .elementor-kit-9 h6 {
      font-size: var( --e-global-typography-8a0691a-font-size);
      line-height: var( --e-global-typography-8a0691a-line-height);
      letter-spacing: var( --e-global-typography-8a0691a-letter-spacing);
      word-spacing: var( --e-global-typography-8a0691a-word-spacing);
  }
  .elementor-kit-9 button,
  .elementor-kit-9 input[type="button"],
  .elementor-kit-9 input[type="submit"],
  .elementor-kit-9 .elementor-button {
      font-size: var( --e-global-typography-accent-font-size);
      line-height: var( --e-global-typography-accent-line-height);
      letter-spacing: var( --e-global-typography-accent-letter-spacing);
  }
  .elementor-kit-9 label {
      font-size: var( --e-global-typography-accent-font-size);
      line-height: var( --e-global-typography-accent-line-height);
      letter-spacing: var( --e-global-typography-accent-letter-spacing);
  }
  .elementor-kit-9 input:not([type="button"]):not([type="submit"]),
  .elementor-kit-9 textarea,
  .elementor-kit-9 .elementor-field-textual {
      font-size: var( --e-global-typography-text-font-size);
      line-height: var( --e-global-typography-text-line-height);
  }
  .elementor-section.elementor-section-boxed>.elementor-container {
      max-width: 767px;
  }
  .e-con {
      --container-max-width: 767px;
  }
}