/node_modules
/public/hot
/public/storage
/public/uploads
/storage
/storage/*.key
/storage/app/google-calendar
/storage/keys
/storage/framework/views
/vendor
.env
.env.backup
/.htaccess
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
